@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

    .content {
        border-radius: 0px;
        background: $v-background-color;
    }

    .menu {
        background: #333333;
        color: text-color($vaadin-primary-color);
        position: fixed;
        left: 0;
        width: 7%;

        .v-button {
            display: block;
        }

        .menubutton {
            color: white;

        }

        .FontAwesome {
            font-size: 30px;
        }

        .menubutton_clicked {
            color: #333333;
            border-radius: 0px;
            background: $v-background-color;
        }

    }

}
